:root{
    --rdp-range_end-background:#000;
}
.rdp-caption {
    
    display: none;
  }

  .rdp-button_previous {
    color: #000;
  }

  .rdp-chevron{
      /* Cambia este color al que prefieras */
    fill: #fff;  /* Cambia el color del texto si es necesario */
  }

  .rdp-day_button {
    color:#fff;
  }
.rdp-range_start {
    background: rgba(192, 125, 24, 0.589) !important;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 70px;
} 
.rdp-range_end{
  border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  background: rgba(192, 125, 24, 0.589) !important;
}
  .rdp-range_start .rdp-day_button{
    color: #fff;
    background-color:rgba(192, 125, 24, 0.589) !important;;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rdp-range_end .rdp-day_button{
    color: #fff;
    background-color:rgba(192, 125, 24, 0.589) !important;;    
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rdp-selected{
    background-color: rgba(192, 125, 24, 0.884) !important;
  }

